{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "tailwindcss": "./src/mocks/tailwindcss.js"
        }
      }
    ]
  ]
}
